<%- include('header') %>

  <h1>This developer uses the following stack</h1>
  <h3>Language: <%= skills.lang %>
  </h3>
  <h3>Framework: <%= skills.framework %>
  </h3>
  <h3>Database: <%= skills.database %>
  </h3>
  <h3>Rate: $100/hr</h3>

  <%- include('footer') %>