<%- include('header') %>
  <% skills.forEach(element=> { %>
    <h2>
      Developer: <%= element.lang %> --- <%= element.framework %> --- <%= element.database %> --- <a
              href="/skills/<%= element.lang %>">View</a>

    </h2>
    <% }); %>
      <h4><a href="/skills/new">Add new skill</a></h4>

      <%- include('footer') %>